.todo_container {
    min-width: 40vw;
    max-width: 80vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(60, 65, 92);
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 8px;
}

.todo_text.false {
    background-color:rgb(180, 165, 165);
    font-family: var(--poppins);
    font-size: 1rem;
    font-weight: 500;
    padding: 8px;
    border-radius: 5px;
}

.todo_text.true {
    background-color:rgb(180, 165, 165);
    font-family: var(--poppins);
    font-size: 1rem;
    font-weight: 500;
    padding: 8px;
    border-radius: 5px;
    text-decoration-line: line-through;
}

.buttons_container {
    margin-left: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}

.buttons_container button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    outline: none;
    border: thin solid black;
    background-color: rgb(21, 21, 21);
    color: white;
    text-transform: uppercase;
}




